<html>

<head>
    <title>Girls data</title>
</head>
<body style="background-color: aqua">
<h1 style=text-align: center>Girls data </h1>

<
<table>
    <thead>
    <tr>
        <th>Name</th>
        <th>Age</th>
        <th>Location</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>Sree</td>
        <td>21</td>
        <td>Hyd</td>
    </tr>
    <tr>
        <td>Rohini</td>
        <td>31</td>
        <td>Bang</td>
    </tr>
    </tbody>

</table>
<a href=".">Back</a>

</body>







</html>